</div>
<footer>
  <section class="wide">
    <div class="flex-single">
      <h3>Contact</h3>
      <p>Kent Network<br>
      The Shed<br>
      Cornwallis South West<br>
      The University of Kent<br>
      Canterbury<br>
      CT2 7NF
      </p>
    </div>
    <div class="flex-single">
      <h3>Social Media</h3>
      <ul>
	<li>
	  <i class="fab fa-slack"></i>
	  <a href="https://ttncanterburyuk.slack.com">Our Slack Channel</a>
	</li>
	<li>
	  <i class="fab fa-twitter"></i>
	  <a href="https://twitter.com/thethingsntwrk">The Things Network</a>
	</li>
      </ul>
    </div>
    <div class="flex-single">
      <h3>Links</h3>
      <ul>
	<li><a href="https://www.thethingsnetwork.org/community/canterbury-uk/">The Things Network Canterbury</a></li>
      </ul>
    </div>
  </section>
</footer>

</body>
</html>
