<footer>
  <section class="wide">
    <div class="flex-single">
      <h3>Contact</h3>
      <p>Kent Network<br>
      The Shed<br>
      Cornwallis South West<br>
      The University of Kent<br>
      Canterbury<br>
      CT2 7NF
      </p>
    </div>
    <div class="flex-single">
      <h3>Social Media</h3>
      <ul>
	<li><a href="https://twitter.com/cstheshed">@cstheshed</a></li>
	<li><a href="https://www.lora-alliance.org/">LoRA Alliance</a></li>
      </ul>
    </div>
    <div class="flex-single">
      <h3>Links</h3>
      <ul>
	<li><a href="">API Documentation</a></li>
      </ul>
    </div>
  </section>
</footer>

</body>
</html>
