{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


<img class="hero" src="images/home/kent-network-banner.jpg" alt="Kent Network Banner"></img>

<section class="wide home">
  <div class="row">
    <div class="small">
	<i class="fas fa-wifi fa-7x"></i>
    </div>
    
    <div class="big">
      <p>Kent.network is a project aimed a providing open
      environmental data across Kent. This is achieved through our
      LoRAWAN sensor network, data access APIs, and sample programs
      that utilise our infrastructure.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="big">
      <p>Kent.network is a project aimed a providing open
      environmental data across Kent. This is achieved through our
      LoRAWAN sensor network, data access APIs, and sample programs
      that utilise our infrastructure.</p>
    </div>

    <div class="small">
      <i class="fas fa-lock fa-7x"></i>
    </div>
  </div>
  
</section>


{{ partial "footer.html" . }}
