{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


<img class="hero" src="images/home/kent-network-banner.jpg" alt="Kent Network Banner"></img>

<section class="wide home">
  <div class="row">
    <div class="small">
	<i class="fas fa-wifi fa-7x"></i>
    </div>
    
    <div class="big">
      <p>Kent.network is a multi-project initiative that aims to
      provide open access to data gathered throughout the county of
      Kent in the UK.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="big">
      <p>A wireless network, free for all - We provide a wireless
      network, with coverage across Kent, that allows you to securely
      send and receive data from remote sensors.</p>
    </div>

    <div class="small">
      <i class="fas fa-lock fa-7x"></i>
    </div>
  </div>

  <div class="row">
    <div class="small">
      <i class="fas fa-lock fa-7x"></i>
    </div>
    <div class="big">
      <p>Something about open data access via an API.
    </div>
  </div>
  
  <div class="row">
    <div class="big">
      <p>Something about example applications.
    </div>

    <div class="small">
      <i class="fas fa-lock fa-7x"></i>
    </div>
  </div>
</section>


{{ partial "footer.html" . }}
